/node_modules
/public/hot
/public/storage
/public/img/pongers_blades
/public/img/pongers_outdoor_tables
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/setupSQL
/NOTES
.env
/.vscode
/config/database.php